.container {
  max-width: 1440px;
  @include mx-auto;
  @include padding-x(0.75rem, 0.75rem);

  @include devices(xl) {
    max-width: 1280px;
  }

  @include devices(lg) {
    max-width: 1024px;
  }

  @include devices(md) {
    max-width: 768px;
  }

  @include devices(sm) {
    max-width: 640px;
  }

  @include devices(xs) {
    width: 100%;
  }
}

.wrapper {
  display: grid;
}

.section {
  @include padding-y(5rem, 5rem);
}

.section2 {
  @include padding-y(5rem, 5rem);
  background-color: var(--bg-color-4);
}
