// mixin for media-queries

@mixin devices($breakpoint) {
  @if $breakpoint==xl {
    @media (max-width: 1399.98px) {
      @content;
    }
  } @else if $breakpoint==lg {
    @media (max-width: 1023.98px) {
      @content;
    }
  } @else if $breakpoint==md {
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $breakpoint==sm {
    @media (max-width: 639.98px) {
      @content;
    }
  } @else if $breakpoint==xs {
    @media (max-width: 479.98px) {
      @content;
    }
  }
}

@mixin flexbox($direction, $justifyContent: flex-start, $alignItems: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin padding-x($paddingLeft, $paddingRight) {
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
}

@mixin padding-y($paddingTop, $paddingBottom) {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
}

@mixin transition($prop: all, $duration, $timingFn: ease) {
  transition: $prop $duration $timingFn;
}
